::-webkit-scrollbar {
	width: 12px;
}
::-webkit-scrollbar-track {
	background: #e5e5e5; 
}
::-webkit-scrollbar-thumb {
	background: #999; 
}
::-webkit-scrollbar-thumb:hover {
	background: #666; 
}
:root{
	--background: #fff;
	--secondaryBackground: #F5F6F7;
	--lightBackground: #455162;
	--accent: #006be6;
	--accentHover: #005fcd;
	--mainText: #1f1c1f;
	--defaultText: #5f666c;
	--disabledText: #a6adc2;
	--borderColor: #a1a4a7;
	--pink: #E40154;
	--teal: #61FAFF;
	--toggleTextTeal: #178387;
	--toggleText: var(--defaultText);
	--themeIcon: var(--secondaryBackground);

	transition: all ease-in-out .2s;
}
:root.dark{
	--background: #344151;
	--secondaryBackground: #273240;
	--lightBackground: #455162;
	--accent: #8FC9FF;
	--accentHover: #76bdff;
	--mainText: #fff;
	--defaultText: #CBDCF1;
	--disabledText: #a6adc2;
	--borderColor: #5C6B7D;
	--pink: #FF85B4;
	--toggleTextTeal: var(--teal);
	--toggleText: var(--disabledText);
	--themeIcon: var(--lightBackground);
}
html{
	-webkit-font-smoothing: antialiased;
	font-family: Helvetica, sans-serif;
	background: var(--background);
	color: var(--text-color);
}
body{
	position: relative;
	max-width: 1200px;
	margin: 0 auto;
	padding: 0 4rem;
}
header{
	padding: 2.25rem 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
}
header #company{
	font-size: 18px;
	font-weight: 700;
	color: var(--mainText);
}
header #company span{
	font-weight: 500;
	color: var(--defaultText);
}
/* status popup cards */
#status{
	position: absolute;
	top: 100px;
	right: 4rem;
	overflow: visible;
}
#status .statCard{
	width: 225px;
	margin-bottom: 14px;
	padding: 14px 16px;
	border-radius: 8px;
	color: var(--mainText);
	background: var(--secondaryBackground);
	box-shadow: 0 2px 10px rgb(0 0 0 / 4%), 0 1px 4px rgb(0 0 0 / 10%), 0 1px 1px rgb(0 0 0 / 4%);
}

/* toggle design */
.toggleContainer{
	font-size: 14px;
	line-height: 24px;
	border-radius: 32px;
	display: inline-flex;
	padding: 4px;
	position: relative;
	max-width: 240px;
	background-color: var(--secondaryBackground);
}
.toggleContainer input[type=radio]{
	display: none;
	visibility: hidden;
}
.toggleContainer input[type=radio] + label.toggleOption{
	box-sizing: border-box;
	cursor: pointer;
	line-height: 24px;
	display: inline-block;
	border-radius: 8px;
	text-decoration: none;
	appearance: none;
	border: none;
	padding: 4px 16px;
	margin-right: 4px;
	position: relative;
	text-align: center;
	transition: all .2s ease;
	width: 120px;
	z-index: 1;
	font-weight: 700;
	min-width: 0;
	background-color: transparent;
	color: var(--toggleText);
}
.toggleContainer input[type=radio] + label.toggleOption:last-child{
	margin-right: 0px;
}
.toggleContainer input[type=radio]:checked + label.toggleOption{
	border-radius: 24px;
	background: var(--background);
	box-shadow: 0 2px 10px rgb(0 0 0 / 4%), 0 1px 4px rgb(0 0 0 / 10%), 0 1px 1px rgb(0 0 0 / 4%);
}
.toggleContainer input[type=radio]:checked + label.toggleOption.checkedPink{
	color: var(--pink);
}
.toggleContainer input[type=radio]:checked + label.toggleOption.checkedTeal{
	color: var(--toggleTextTeal);
}

main{
	max-width: 1200px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
}
main > div{
	width: 50%;
	box-sizing: border-box;
	padding: 2rem 2rem 0;
}
main > div:nth-child(1){
	padding-left: 0px;
}
main > div:nth-child(2){
	padding-right: 0px;
}
.title{
	transition: color .2s ease;
	font-weight: 700;
	letter-spacing: 0;
	display: flex;
	flex-flow: row nowrap;
	font-size: 38px;
	line-height: 46px;
	margin: -8px 0 16px;
	margin-top: 32px;
	margin-bottom: 0;
	color: var(--mainText);
}
.subtitle{
	max-width: 500px;
	margin: 8px 0 20px;
	letter-spacing: .4px;
	line-height: 1.55rem;
	color: var(--defaultText);
}
/* text inputs */
.inputsWrapper{
	padding: 1.25rem 0;
}
.inputContainer{
	position: relative;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	margin: 1rem 0 3.5rem;
}
.inputContainer label{
	width: 125px;
	font-size: 18px;
	color: var(--mainText);
	border-radius: 8px;
}
input[type=text].default{
	appearance: none;
	display: block;
	flex-grow: 3;
	margin-left: 3rem;
	padding: 15px 24px;
	font-size: 16px;
	color: var(--mainText);
	background: var(--secondaryBackground);
	border: 1px solid var(--borderColor);
	border-radius: 8px;
}
input[type=text].default.error, input[type=text].default:invalid{
	box-shadow: 0 0 0 2px var(--pink) !important;
}
input[type=text].default::placeholder{
	color: var(--disabledText);
}
input[type=button]{
	-webkit-font-smoothing: antialiased;
	box-sizing: border-box;
	appearance: none;
	text-decoration: none;
	height: 40px;
	transition: background-color .1s ease,border-color .1s ease,color .1s ease;
	line-height: 24px;
	font-family: Helvetica,sans-serif;
	font-weight: 700;
	align-items: center;
	justify-content: center;
	border: 1px solid transparent;
	border-radius: 8px;
	padding: 8px 16px;
	user-select: none;
	font-size: 14px;
	display: inline-block;
	min-width: 64px;
	border-color: var(--accent);
	cursor: pointer;
	color: var(--secondaryBackground);
	background-color: var(--accent);
}
input[type=button]:hover{
    background-color: var(--accentHover);
}
.icon{
	display: inline-block;
	height: 18px;
	width: 18px;
	padding: 3px;
	margin-left: 8px;
	border-radius: 5px;
	cursor: pointer;
	border: 1px solid transparent;
}
.window{
	margin-bottom: 4rem;
	border-radius: 16px;
	border: 1px solid var(--borderColor);
	color: var(--defaultText);
	background: var(--secondaryBackground);
	box-shadow: 0 2px 10px rgb(0 0 0 / 4%), 0 1px 4px rgb(0 0 0 / 10%), 0 1px 1px rgb(0 0 0 / 4%);
}
.window:last-child{
	margin-bottom: .5rem;
}
.window.primary{
	color: #fff;
	background: var(--lightBackground);
}
.window .header{
	display: flex;
	justify-content: space-between;
	padding: 16px;
	border-bottom: 1px solid var(--borderColor);
}
.window .subtitle{
	display: inline-block;
	color: var(--windowText);
	margin: 0;
}
.window .body{
	height: 250px;
	padding: 16px;
	font-family: monospace;
	font-size: .825rem;
    line-height: 1.25rem;
	overflow: auto;
}
.window.primary .body{
	height: 180px;
	word-wrap: break-word;
}
.window .teal{
	color: var(--teal);
}
#queued{
	transition: all .2s ease;
}
.hidden{
	height: 0px;
	opacity: 0;
}
#themeToggle{
	appearance: none;
	position: fixed;
    left: 24px;
	bottom: 48px;
	padding: 10px 0;
	background: transparent;
	border: none;
	cursor: pointer;
}
#themeToggle #slider{
	position: relative;
	width: 40px;
	height: 9px;
	border-radius: 8px;
	/* background: var(--secondaryBackground); */
	background: var(--themeIcon);
	box-shadow: 0 2px 10px rgb(0 0 0 / 4%), 0 1px 4px rgb(0 0 0 / 10%), 0 1px 1px rgb(0 0 0 / 4%);
}
#themeToggle #slider #knob{
	position: absolute;
	top: -8px;
	left: 0px;
	height: 24px;
	width: 24px;
	background: var(--themeIcon);
	border-radius: 50%;
	transition: all ease-in-out .2s;
	box-shadow: 0 2px 10px rgb(0 0 0 / 4%), 0 1px 4px rgb(0 0 0 / 10%), 0 1px 1px rgb(0 0 0 / 4%);
}
#themeToggle #slider.dark #knob{
	left: 16px;
}
#themeToggle #slider #knob .sun, #themeToggle #slider #knob .moon{
	position: absolute;
	top: 5px;
	left: 5px;
	transition: all ease-in-out .2s;
}
#themeToggle #slider #knob .sun{
	opacity: 1;
}
#themeToggle #slider #knob .moon{
	opacity: 0;
}
#themeToggle #slider.dark #knob .sun{
	opacity: 0;
}
#themeToggle #slider.dark #knob .moon{
	opacity: 1;
}
/* :focus & :active */
input:active, input:focus, .toggleOption:focus, .toggleOption:focus, button:focus, button:active, a:focus, a:active{
	box-shadow: 0 0 0 2px var(--accent) !important;
	border: 1px solid transparent;
	outline: none;
}